/*Principal Div*/
.main-grid{
    width: auto;
    padding: 15px;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas:
      "preston-title preston-title preston-title preston-title preston-title preston-title"
      "banner-box banner-box banner-box banner-box banner-box banner-box"
      "preston-par preston-par preston-par preston-par preston-par preston-par"
      "five-day five-day five-day five-day five-day five-day"
      "travel travel travel travel travel travel"
      "preston-contact preston-contact preston-contact preston-contact preston-contact preston-contact";
}

.preston-title{
    width: auto;
    grid-area: preston-title;
    padding-left: 100px;
    padding-right: 100px;
}
/*Div Banner*/
.banner-box{
    width: auto;
    grid-area: banner-box;
    padding-left: 100px;
    padding-right: 100px;
    height: 250px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 270px;
}
#banner-image{
    grid-area: banner-image;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.action {
    color: #F7CAD0;
    grid-column: 1/2;
    grid-row: 1/2;
    background: #001D3D;
    backdrop-filter: blur(5px);
    margin: 2em 2em 2em 2em;
    padding: 1em;
    text-align: center;
    border-radius: 25px;
}

.action h3 {
    font-size: 20px;
}
  
.action button {
    margin: auto;
    border-radius: 25px;
    font-size: 25px;
    border: 5px solid #FF7096;
}


.preston-par{
    grid-area: preston-par;
    padding-left: 100px;
    padding-right: 100px;
}

/*Div Day*/

.five-day{
    width: auto;
    height: 100%;
    background-color: #FFC300;
    margin: 0 100px 0 100px;
    grid-area: five-day;
    display: flex;
}
.travel{
    width: auto;
    grid-area: travel;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
}
#travel-par{
    width: auto;
    padding: 10px;
}
#image-trave{
    width: auto;
}

/*Div Contact*/
.preston-contact{
    width: auto;
    grid-area: preston-contact;
    display: flex;
    justify-content: space-between;
}
.imagePreston{
    width:  100%;
    margin: 15px;
}
.preston-contact-us{
    display: block;
}

.action2{
    width: 100px;
    height: 100px;
    color: #FFD60A;
    grid-column: 1/2;
    grid-row: 1/2;
    background: #001D3D;
    backdrop-filter: blur(5px);
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    border-radius: 25px;
}

h1, h3{
    font-family: Georgia, serif;
}
image{
    width: 100%;
}
