@media only screen and (min-width: 940px) {
body{
    max-width: 900px;
    margin:0 auto;
}

}
.container{
    display: flex;
    flex-direction: column;
}
.hero {
    padding: 15px;
    margin: 15px;
    border: dashed 1px;
}

.forecastDay {
    padding: 15px;
    margin: 15px;
    border: dashed 1px;

}

.article {
    padding: 15px;
    margin: 15px;
    border: dashed 1px;
}

.contactInformation {
    padding: 15px;
    margin: 15px;
    border: dashed 1px;
}