#selected {
	position: absolute;
	top: 550px;
	left: 300px;
	border: 1px solid #999;
	background-color: #abe;
	padding: 10px;
	font-weight: 700;
	display: none;
}
#index-body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: #ffc300;
}
main{
    max-width: 80%;
    margin: 0;
    padding: 5%;

}

@media only screen and (max-width:1200px){
    
    body #father {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }
}
@media only screen and (max-width:850px){
    
    body #father {
        grid-template-columns: 1fr;
    }
    body .card1{
        flex-direction: row;
    }
    body .card2{
        flex-direction: row;
    }
    body .card3{
        flex-direction: row;
    }

}





