
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Architects+Daughter&display=swap');

header, footer{
    background: #003566;
    padding: 1%;
    color: #ffc300;
    text-align: center;
  }
  footer a{
    color: white;
  }
h2, h3, h4 {
color:#ffc300;
font-family: 'League Gothic', sans-serif;
text-align: center;

}


main {
    margin:0 auto;  
    padding: 0 auto;
    max-width: 100%;
    background: #ffc300;
    display: flex;
    flex-direction:column;
    align-items: center;
}


body{
    background: #ffc300;
}

header, footer{
    background: #003566;
    padding: 1%;
    color: #ffc300;
    text-align: center;
}
footer a{
    color: white;
}


.cards {
    max-width: 100%;
    background-color: #ffc300;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3%;
}

.cards section {
 
    flex: 1 0 20%;
    background-color: #001D3D;
    text-align:center;
    padding:4%;  
}

section:hover {
    background-color: #0e0d0d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} 
img{
    width:100%;
    padding: 0.5rem; 
    box-shadow: 0 0 10px #333;
    margin-bottom: 10px;
}
@media only screen and (max-width:1200px){
    
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width:850px){
    
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px){

    .cards {
        grid-template-columns: 1fr;
    }

}