#selected {
	position: absolute;
	top: 550px;
	left: 300px;
	border: 1px solid #999;
	background-color: #abe;
	padding: 10px;
	font-weight: 700;
	display: none;
}
#storm-body{
    background: #ffc300;
}