header, footer{
  background: #003566;
  padding: 1%;
  color: #ffc300;
  text-align: center;
}
footer a{
  color: white;
}
main {
  margin:0 auto;  
  padding: 0 auto;
  max-width: 25%;
  background: #ffc300;
  display: flex;
  flex-direction:column;
  align-items: center;
}

picture img[data-src] {
  padding: 10px;
  background: #003566;
  filter: blur(1em);
}

picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}
body{
  background: #ffc300;
}